h2{
	margin: 0px;
}

.Name
{
	font-size: 14px;
	color: white;
}

.friend {
	height:36px;
	padding: 4px 4px 6px 8px;
	margin-bottom:4px;
	font-size:11px;
	line-height:13px;

	position: relative;

	background-color: rgba(54, 54, 54, 0.2);
}

.friend .userAvatar {
	float:left;
	margin-right: 7px;
}

.friend .userLevel {
	float: right;
	margin: 4px 4px 0 0;
}
