.profile_content {
	position: relative;
	padding: 12px 12px 64px 12px;
	width: 952px;
	margin: 0 auto;

	font-size: 13px;

	min-height: calc( 100vh - 511px );
	color: #d4d5d3;
}


.profile_content_inner {
	position: relative;
}

.profile_leftcollumn {
	width: 652px;
	float: left;
}

.profile_rightcollumn {
	background-color: #101214;
	background-color: rgba( 0, 0, 0, 0.3 );
	backdrop-filter: blur(20px);
	padding: 10px;
	border-radius: 3px;
	width: 268px;
	float: right;
}

@media screen and (max-width: 910px)
{
	html.responsive .profile_rightcollumn {
		float: none;
		width: auto;
	}

	html.responsive .profile_leftcollumn {
		float: none;
		width: auto;
	}

	html.responsive .profile_content {
        width: auto;
        font-size: inherit;
    }

    html.responsive .profile_preview .profile_elements {
        background: transparent;
        margin: 0;
		width: auto;
		float: none;
		padding: 0;
		margin-bottom: 8px;
    }

	html.responsive .profile_element_ovf > div {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}

	html.responsive .profile_badges_badge,
	html.responsive .profile_badges_badge img {
		width: 36px;
		height: 36px;
	}

	html.responsive .profile_badges_badge {
		margin-right: 6px;
	}

}

@media screen and ( max-width: 700px )
{
	html.responsive .profile_header_summary {
		clear: both;
		padding: 8px;
	}
	
	html.responsive .profile_header .profile_summary {
		height: auto;
	}

	html.responsive .profile_header .profile_header_user {
		position: static;
		padding-bottom: 18px;
	}

	html.responsive .profile_header .profile_header_summary .header_real_name_spacer {
		display: none;
	}

	html.responsive .header_nickname_spacer {
		display: none;
	}

	html.responsive .profile_header {
		padding-top: 8px;
	}
}

@media screen and (max-width: 910px)
{
	html.responsive .profile_header {
		width: auto;
		padding-left: 8px;
		padding-right: 8px;
	}

	html.responsive .profile_content.has_profile_background {
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	html.responsive .profile_background_holder_content {
		min-width: 0;
	}

	html.responsive .profile_leftcollumn {
		padding: 0 1%;
	}

	html.responsive .profile_rightcollumn {
		padding: 0 1%;
	}

	html.responsive .profile_summary_modal {
		line-height: normal;
	}


	/* friends page */
	html.responsive body.migrated_profile_page #BG_bottom.maincontent {
		width: auto;
		margin: 0 1%;
	}

	html.responsive .profile_subpage_column .maincontent {
		width: auto;
		margin: 0;
		padding: 0 1%;
	}

	html.responsive .profile_subpage_general .maincontent {
		width: auto;
		padding-left: 1%;
		padding-right: 1%;
	}

	html.responsive .graytab_body_wrapper {
		width: auto;
	}

	html.responsive .profile_background_image_content {
		background-position: center top;
		background-size: 115% auto;
		background-attachment: fixed;
	}

	html.responsive .profile_background_overlay_content {
		opacity: .65;
		filter: alpha(opacity=65);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	}

	html.responsive .profile_small_header_avatar {
		left: 3%;
	}

	html.responsive .profile_small_header_text {
		left: 3%;
		padding-left: calc( 68px + 3% );
		right: 32px;
	}

	html.responsive .status_information {
		padding: 8px;
		background: rgba( 0, 0, 0, 0.5 );
		margin: 12px 0;
	}

	html.responsive .status_information .status {
		margin: 0;
	}

	html.responsive .profile_element_ovf {
		overflow: hidden;
		line-height: 44px;
		height: 44px;
	}

	html.responsive .profile_elements,
	html.responsive .profile_preview {
		background: rgba( 0, 0, 0, 0.5 );
		display: block;
		float: left;
		padding: 8px;
		margin: 0 4px 4px 4px;
		height: 29px;
	}

	html.responsive .count_total {
		font-size: 20px;
	}

	html.responsive .profile_preview {
		height: 78px;
		overflow: hidden;
	}

	html.responsive .profile_badges {
		margin-bottom: 0;
	}

	html.responsive .profile__items {
		margin-bottom: 12px;
	}

	html.responsive .profile_group > *:not(.profile_group_avatar),
	html.responsive .profile_friendlist .friend > div:not(.userAvatar) {
		display: none;
	}

	html.responsive .profile_group.profile_primary_group,
	html.responsive .profile_group,
	html.responsive .profile_friendlist .friend {
		padding: 0;
		margin: 0;
		height: auto;
		width: auto;
		margin-right: 6px;
	}

	html.responsive .profile_friendlist .friend .userAvatar {
		margin: 0;
		float: none;
	}

	html.responsive .profile_primary_group .profile_group_avatar,
	html.responsive .profile_primary_group .profile_group_avatar img {
		width: 32px;
		height: 32px;
	}

	html.responsive .profile_group_avatar {
		position: static;
	}
}

@media screen and (min-width: 661px) and (max-width: 910px) {
	html.responsive .profile_elements,
	html.responsive .profile_preview {
		width: calc( 25% - 16px - 8px );
	}
}

@media screen and (min-width: 521px) and ( max-width: 660px ) {

	html.responsive .profile_elements,
	html.responsive .profile_preview  {
		width: calc( 33% - 16px - 8px );
	}
}

/*all about games*/
.profile_recentgame_header {
	margin-bottom: 8px;
}

.recentactivity {
	float: right;
	display: flex;
	gap: 8px;
	align-items: center;
}


.recent_game {
	backdrop-filter: blur(20px);
	background-color: rgba( 0, 0, 0, 0.3 );
	border-radius: 3px;
	margin-bottom: 21px;
}

.recent_game_content {
	padding: 8px 10px;
}

.recent_game .game_information {
	position: relative;
	height: 69px;
}

.recent_game .game_information .game_information_img {
	float: left;
	margin-right: 8px;
	width: 184px;
	height: 69px;
}

.recent_game .game_information .game_information_img img {
	width: 100%;
	height: 100%;
}

.recent_game .game_information .game_information_details {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
	color:grey;
}

.recent_game .game_information .game_name {
	padding-top: 10px;
	font-size: 14px;
	color: white;
}

.profile_elements {
	font-size: 14px;
	margin-bottom: 4px;
	min-height: 29px;
}

/*games, badges reviews groups friends count*/
.profile_elements .count_total {
			font-family: Sans-serif;
		font-weight: 200;

			color: #9b9b9b;
	font-size: 24px;
}

/*offline/online*/
.status {
	margin-bottom: 32px;
}

.status_header {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

			font-size: 20px;
}

/*badges*/
.profile_badges_badge, .profile_badges_badge img {
	width: 54px;
	height: 54px;
}
.profile_badges_badge {
	float: left;
	margin-right: 16px;
}
.profile_badges_badge.last {
	margin-right: 0;
}

.profile_badges, .profile_items, .profile_groups {
	margin-bottom: 40px;
}

/*groups*/
.profile_group {
	position: relative;

	word-wrap: break-word;
	overflow: hidden;

	padding-top: 1px;
	padding-left: 42px;
	height: 36px;

}

.profile_group.profile_primary_group {
	padding-top: 10px;
	padding-left: 80px;
	height: 60px;

	margin-bottom: 12px;
	margin-top: 12px;
}

.profile_group_avatar {
	position: absolute;
	left: 0;
	top: 0;

	box-shadow: 2px 2px 3px #0c0c0c;

	width: 32px;
	height: 32px;
}

.profile_group_avatar img {
	border-radius: 2px;
	width: 100%;
	height: 100%;
}