.userAvatar {
	width: 34px;
	height: 34px;
	position: relative;
	border-radius: 0;
}

.userAvatar.offline {

	background: -webkit-linear-gradient( top, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
	background: linear-gradient( to bottom, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
}

.userAvatar.online, .guest_avatar.online {

	background: -webkit-linear-gradient( top, rgb(83, 196, 83) 5%, rgb(12, 87, 46) 95%);
	background: linear-gradient( to bottom, rgb(83, 196, 92) 5%, rgb(12, 87, 46) 95%);
}

.userAvatar img {
	width: 32px;
	height: 32px;
	padding: 1px;
	border-radius: 0;
	border: none;
}

.userAvatar .profile_avatar_frame > img {
	transform: scale(1.23);
	width: 32px;
	height: 32px;
	background: none;
}

.user {
	color:#898989;
}

.user.online, .friend.online {
	color:#90ba3c;
}

.userLevel {
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
	border: solid white 2px;
	height: 28px;
	width: 28px;
	line-height: 28px;
	text-align: center;

	cursor: default;
}

.userLevel .userLevelNum {
	color: #e5e5e5;
}

.userLevel.lvl_0 {
	border-color: #9b9b9b;
}

.userLevel.lvl_1 {
	border-color: #c02942;
}

.userLevel.lvl_2 {
	border-color: #d95b43;
}

.userLevel.lvl_3 {
	border-color: #fecc23;
}

.userLevel.lvl_4 {
	border-color: #467a3c;
}

.userLevel.lvl_5 {
	border-color: #4e8ddb;
}

.userLevel.lvl_6 {
	border-color: #7652c9;
}

.userLevel.lvl_7 {
	border-color: #c252c9;
}

.userLevel.lvl_8 {
	border-color: #542437;
}

.userLevel.lvl_9 {
	border-color: #997c52;
}

.userLevel.lvl_10, .userLevel.lvl_20,
.userLevel.lvl_30, .userLevel.lvl_40,
.userLevel.lvl_50, .userLevel.lvl_75,
.userLevel.lvl_100
{
	border: none;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: 0 0;

	font-size: 14px;

	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-shadow: 1px 1px #1a1a1a;
}	

.userLevel.lvl_10 { background-image: url( 'Hexagon.png' ); }
.userLevel.lvl_20 { background-image: url( 'Star.png' ); }
.userLevel.lvl_30 { background-image: url( 'Spiral.png' );  }
.userLevel.lvl_40 { background-image: url( 'Ruby.png' );  }
.userLevel.lvl_50 { background-image: url( 'Diamond.png' );  }
.userLevel.lvl_75 { background-image: url( 'Tesseract.png' );  }
.userLevel.lvl_100 { background-image: url( 'Cogwheel.png' );  }