body {
	text-align: left;
    font-size: 14px;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
    background-image: url( 'Doom.jpg');
}

h2 {
	margin: 0px;
}

.Name {
	font-size: 14px;
	color: white;
}

.profile_header_background_texture {
    max-width: 976px;
    min-height: 224px;
    margin: 0 auto;
}

.profile_header{
    position: relative;
    max-width: 926px;
    margin: 0 auto;
    padding-top: 24px;
}

.profile_header_content{
	position: relative;
    padding-top: 8px;
    padding-right: 8px;
    color: #c4c4c4;
    font-size: 13px;
}

.profile_header_user {
    position: absolute;
    left: 186px;
    right: 268px;
    white-space: nowrap;
    padding-left: 18px;
    padding-bottom: 18px;
}

.profile_flag {
    vertical-align: middle;
    width: 16px;
    height: 11px;
}

.profile_header .userAvatar.frame {
    float: left;
    margin-right: 18px;
    position: relative;
    width: 166px;
    height: 166px;
}

.userAvatar .profile_avatar_frame {
    border: 10px solid;
	border-color: white;
	border-style: ridge;
    position: absolute;
    width: 94%;
    height: 94%;
}

img.profile_avatar {
    width: 166px;
    height: 166px;
}

.profile_header_badgeinformation .user_level {
	line-height: 40px;
	margin-bottom: 13px;
}

.profile_header_badgeinformation .user_level .userLevel {
	vertical-align: middle;
}

.chosen_badge {
    position: relative;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile_header_badgeinformation {
    float: right;
}

.profile_header_badgeinformation_badge_area {
    width: 268px;
}

.profile_header_badgeinformation .user_level {
    line-height: 40px;
    margin-bottom: 13px;
    font-size: 24px;
}

.profile_header_badge {
    height: 70px;
}

.profile_header_summary {
    overflow: hidden;
    padding-right: 18px;
    padding-left: 18px;
}

.profile_header .user_nickname {
    line-height: 40px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 200;
}

.header_real_name_spacer {
    height: 80px;
}

.header_nickname_spacer {
    height: 11px;
}

.profile_header .profile_summary {
    line-height: 18px;
    height: 57px;
    overflow: hidden;
    margin-bottom: 8px;
    padding-left: 3px;
}

.badge_description {
    font-size: 12px;
	height: 30px;
	padding-left: 4px;
}

.profile_comment_area {
	position: relative;
    padding: 12px 12px 64px 12px;
    font-size: 13px;
}

.profile_comment_area .commentsection_header .commentsection_upper_border {
    font-family: Sans-serif;
    font-weight: 200;
    background: none;
    padding-left: 0px;
    font-size: 20px;
	color: #bcb9b9;
}

.profile_comment_area .commentsection_header, .profile_leftcollumn_header {
	border-bottom: none;
	padding: 6px 10px;
	line-height: 26px;
}

.profile_leftcollumn_header h2 {
	float: left;
	color: #989191;
	font-weight: 200;
}

.profile_comment_area .commentsection_comment_container {
	margin-top: 19px;
}

.commentsection_comment {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
    min-height: 40px;
    padding-left: 58px;
    overflow: hidden;
}

img.guest_avatar{
	position: absolute;
	left: 5px;
	top: 8px;
	width: 34px;
	height: 34px;
	max-height: 36px;
	max-width: 36px;
	border-radius: 0;
	padding: 1px;
}

.commentsection_comment_author {
    margin-bottom: 2px;
    line-height: 16px;
	font-size: 14px;
}

.commentsection_comment_timestamp {
    font-size: 11px;
    color: #2b3f4b;
    margin-left: 4px;
}

.commentsection_comment_text {
    font-size: 13px;
    color: #acb2b8;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 400px;
    line-height: 18px;
}

.profile_recentgame_header {
	margin-bottom: 8px;
}

.recentactivity {
	float: right;
	display: flex;
	gap: 8px;
	align-items: center;
}

.recent_game {
	margin-bottom: 21px;
}

.recent_game_content {
	padding: 8px 10px;
}

.recent_game .game_information {
	position: relative;
	height: 69px;
}

.recent_game .game_information .game_information_img {
	float: left;
	margin-right: 8px;
	width: 184px;
	height: 69px;
}

.recent_game .game_information .game_information_img img {
	width: 100%;
	height: 100%;
}

.recent_game .game_information .game_information_details {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
	color:grey;
}

.recent_game .game_information .game_name {
	padding-top: 10px;
	font-size: 14px;
}

.profile_elements {
	font-size: 14px;
	margin-bottom: 4px;
	min-height: 29px;
}

.profile_elements .count_total {
	font-family: Sans-serif;
	font-weight: 200;
	color: #9b9b9b;
	font-size: 24px;
}

.status {
	margin-bottom: 32px;
}

.status_header {
	font-family: Sans-serif;
	font-weight: 200;
    font-size: 20px;
}

.profile_badges_badge, .profile_badges_badge img {
	width: 54px;
	height: 54px;
}

.profile_badges_badge {
	float: left;
	margin-right: 16px;
}

.profile_badges_badge.last {
	margin-right: 0;
}

.profile_badges, .profile_items, .profile_groups {
	margin-bottom: 40px;
}

.profile_group {
	position: relative;
	word-wrap: break-word;
	overflow: hidden;
	padding-top: 1px;
	padding-left: 42px;
	height: 36px;
}

.profile_group_avatar {
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
}

.profile_group_avatar img {
	border-radius: 2px;
	width: 100%;
	height: 100%;
}

.profile_content {
	position: relative;
	padding: 12px 12px 64px 12px;
	width: 952px;
	margin: 0 auto;
	font-size: 13px;
	min-height: calc( 100vh - 511px );
	color: #d4d5d3;
}

.profile_content_inner {
	position: relative;
}

.profile_leftcollumn {
	width: 652px;
	float: left;
}

.profile_rightcollumn {
	padding: 10px;
	width: 268px;
	float: right;
}

.blur_background {
    background-color: rgba( 0, 0, 0, 0.3 );
	backdrop-filter: blur(20px);
    border-radius: 3px;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}